body  /* background-fondo */
{background-image: url(img/fondo.jpg); 
 background-size:cover;
 background-repeat: no-repeat;
} 

/* entrada reservada */
#entrada-reservada{color: white; padding-top: 450px; font-family: Helvetica, sans-serif;}




/*entrada section*/
@media (max-width: 575.98px){
#entrada-reservada{padding-top: 350px !important;}}