
.fondo{
    background-image: url(img/fondo-01.jpg)
}
.color{
    background-color: #ca1d88;
}
.acolor{
    background-color: cyan;
}
.bcolor{
    background-color: #ca1d88;
}
.btnc{
    background-color: cyan;
}